#root .aside {
  width: 23vw;
  height: 100vh;
  border-right: 2px solid #edb45b;
  position: fixed;
  display: flex;
  flex-direction: column;
  /* background-image: linear-gradient(to right, #3b5735, #4fa345, #f2fcef, #386c5f); */
  /* background-color: rgba(156, 181, 150, 0.75); */
  background-color: #9cb596;
  box-sizing: border-box;
}

.aside .header-logo {
  height: 8%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #385735;
}

.aside .leftmenu {
  height: 100%;
  padding: 1.5vh 1.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aside .leftmenu > ul {
  width: 50%;
  text-align: center;
}
