.contents .contents__main .main-post-screen {
  width: 80%;
  height: 100%;
  padding: 0 3.5vw;
  background-color: red;
  box-sizing: border-box;
}

.contents .contents__main .main-post-screen .post-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contents .contents__main .main-post-screen .post {
  display: flex;
  width: 100%;
  height: fit-content;
}

.contents .contents__main .main-post-screen .post-list-container {
  width: 100%;
  height: 100%;
  background-color: white;
  color: black;
}

.contents .contents__main .main-post-screen .post-list-container .post-lists {
  width: 100%;
  height: 100%;
}

.contents .contents__main .main-post-screen .post-list-container .post-lists > li {
  margin: 0.5vw;
  padding: 0 0.2vw 0.2vw 0.2vw;
  background-color: #81ecec;
}
